@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --primaryColor: #067aee;
    --secondaryColor: #257cd3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base Styles */
body {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Nav Bar */
.navbar {
    background-color: var(--primaryColor);
    height: 70px;
    color: white;
}

.navbar .flex {
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.navbar ul {
    display: flex;
}

ul li {
    margin-top: 30px;
}

.navbar a {
    margin: 0 20px;
    color: white;
}

.navbar a::after {
    content: '';
    margin: 0 0 0 20px;
    width: 0;
    height: 2px;
    display: block;
    background: #df9d11;
    border-radius: 8px;
    transition: width .2s ease;
}

.navbar a:hover::after {
    width: 80%;
    background: #df9d11;
}

/* Main Content */
.text-center {
    text-align: center;
}

/* Margins */
.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.main {
    height: 400px;
    background-color: rgb(37, 34, 41);
    position: relative;
}

.main h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.main p {
    margin-top: 5px;
}

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.main-flex {
    display: flex;
    background-color: rgb(37, 34, 41);
    justify-content: center;
    align-content: center;
    overflow: visible;
}

.main .main-flex .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 40%;
    align-content: center;
    margin: 25px 0 0 150px;
    /* Centers content in large screens */
    max-width: 450px;
}

.btn-primary {
    max-width: 120px;
    cursor: pointer;
    background-color: var(--secondaryColor);
    border: none;
    border-radius: 5px;
}

.main-form {
    position: relative;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 60px;
    z-index: 20;
}

.form-control {
    margin: 20px;
}

.main-form input[type="text"],
.main-form input[type="email"] {
    background: none;
    border: 0;
    border-bottom: 2px solid #df9d11;
    width: 100%;
    padding: 3px;
    font-size: 1rem;
    outline: none;
    color: white;
}

.main-form input[type="text"]:not(:focus)::placeholder,
.main-form input[type="email"]:not(:focus)::placeholder {
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 300px 0 0;
    /* Centers content in large screens */
    padding: 20px;
    background-color: rgb(59, 56, 56);
    border: 1px solid rgb(95, 7, 196);
    ;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(95, 7, 196);
    height: 450px;
    width: 350px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #a07c07;
    border: 1px solid white;
    border-radius: 5px;
    color: rgb(235, 230, 230);
    font-weight: 500;
}

.btn-primary:hover,
.btn:hover {
    transition: 0.4s;
    transform: scale(1.1);
    background-color: rgb(77, 6, 158);
}

.main::before,
.main::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -100px;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: skewY(-3deg);
    /* Browser adaptations */
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}


/* Favorite Features*/
.favorite {
    padding-top: 150px;
    color: black;
    display: flex;
    flex-direction: row;
}

.favorite-container {
    display: flex;
    gap: 70px;
}

.favorite-heading {
    max-width: 500px;
    margin: auto;
}

.favorite-heading {
    font-size: 1.5rem;
}

.favorite .favorite-container p {
    font-size: 1rem;
    font-weight: bold;
}

.icons {
    padding: 10px;
    border: 2px solid transparent;
}

.icons:hover {
    animation: borderAround 0.8s forwards;
}

/* Fold Display & Grid */
.fold-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fold-display .fold-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(31, 29, 29);
    padding: 60px 0;
}

.fold-display .fold-grid video {
    grid-column: 2 / 4;
    grid-row: 1 / span 2;
}

.fold-display .fold-grid img {
    grid-column: 2/ 3;
    grid-row: 3 / 4;
}

.fold-display video {
    width: 350px;
    height: 50%;
    border-radius: 8px;
}

.fold-display img {
    width: 350px;
    height: 100%;
    border-radius: 8px;
}

.fold-display img,
video {
    margin-left: 100px;
}

.fold-card:nth-child(3) {
    grid-column: 3 / 3;
    grid-row: 1 / 2;
}

.fold-card:nth-child(4) {
    grid-column: 3/ 4;
    grid-row: 3 / 4;
}

.fold-card:nth-child(3),
.fold-card:nth-child(4) {
    background-color: #067aee;
    border-radius: 8px;
    padding: 10px;
}

/* Ecosystem Favorites */

.ecosystem-favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 80px;
}

.ecosystem-favorites h2 {
    color: black;
}

.ecosystem-favorites h4 {
    font-size: 1rem;
    padding: 5px;
}

.ecosystem-favorites .favorites-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 56, 56);
    border: 1px solid rgb(112, 110, 110);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(147, 144, 151);
    height: auto;
    width: auto;
    margin: 30px;
    padding: 0;
}

.ecosystem-favorites .favorites-card:hover {
    transition: 0.4s;
    border: 1px solid rgb(95, 7, 196);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(95, 7, 196);
    transform: scale(1.1);
    overflow: hidden;

}

.ecosystem-favorites img {
    max-width: 200px;
    max-height: 100px;
    background-color: rgb(240, 239, 238);
}





/* Footer */
footer {
    display: flex;
    background-color: var(--primaryColor);
    color: white;
    margin-top: 40px;
    justify-content: center;
}

/* Keyframes */
@keyframes borderAround {
    0% {
        border-right: 2px solid rgb(95, 7, 196);
        border-radius: 8px;
    }

    25% {
        border-right: 2px solid rgb(95, 7, 196);
        border-bottom: 2px solid rgb(95, 7, 196);
    }

    50% {
        border-right: 2px solid rgb(95, 7, 196);
        border-bottom: 2px solid rgb(95, 7, 196);
        border-left: 2px solid rgb(95, 7, 196);
    }

    75% {
        border-right: 2px solid rgb(95, 7, 196);
        border-bottom: 2px solid rgb(95, 7, 196);
        border-left: 2px solid rgb(95, 7, 196);
    }

    100% {
        border-right: 2px solid rgb(95, 7, 196);
        border-bottom: 2px solid rgb(95, 7, 196);
        border-left: 2px solid rgb(95, 7, 196);
        border-top: 2px solid rgb(95, 7, 196);
        box-shadow: 0 3px 10px rgb(95, 7, 196);
        border-radius: 8px;
    }
}

@media (max-width: 1000px) {
    .navbar .container {
        display: flex;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main::before,
    .main::after {
        content: "";
        position: absolute;
        height: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        transform: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .main-flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;
        padding: 0;

    }

    .main-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

    .container h3:nth-child(1) {
        margin-top: 100px;
    }

    .ecosystem-favorites,
    .favorite-container {
        display: block;
        margin: 20px;
    }

    .fold-display {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    
    .fold-display .fold-grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .fold-card {
        width: 100%;
    }

    .fold-card:nth-of-type(2) {
        background-color:#ca8b17;
    }

    .fold-display .fold-grid video,
    .fold-display .fold-grid img {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 10px;
        border-radius: 30px;
        max-width: 100%;
    }
    .fold-display .fold-grid img {
        order: 2;
    }

    .ecosystem-favorites {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
    }
    .ecosystem-favorites h2 {
        margin-bottom: 0;
    }

    .ecosystem-favorites .favorites-card {
        margin-top: 0;
    }

    * {
        max-width: 100%;
    }
}